* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(10, 8, 8, 0.922);
    display: flex;
    font-family: Work Sans, sans-serif;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.App{
  display: flex;
  flex-direction: column;
  margin: 64px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 300px;
  height: 500px;
  background-color: rgb(255,148,224);
  border-radius: 70px;
}
.title{
  background-color: 	rgb(255,89,199);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 66px;
  width: 100%;
  border-radius: 70px 70px 0px 0px;
  font-weight: 600;
}